.messages-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: inherit;
  height: calc(100vh - 12rem);
  margin: 1.2rem 1.2rem;
  background-color: #000;
  border-radius: 10px;
  overflow: scroll;
  overflow-x: hidden;
}

.message-bar-container {
  display: flex;
  margin: 1rem 1.2rem;
  align-items: center;
}

.message-bar-container > input {
  margin: 0rem 1rem;
}

.message-bar-container > div {
  display: flex;
  align-items: center;
  cursor: pointer;
}

@media (prefers-color-scheme: light) {
  .messages-container {
    background-color: #ebebeb;
  }
}
